In [49]:
!pip install selenium

Requirement already satisfied: selenium in d:\anaconda\lib\site-packages (4.5.0)
Requirement already satisfied: trio~=0.17 in d:\anaconda\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in d:\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in d:\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in d:\anaconda\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: cffi>=1.14 in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: sniffio in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in d:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in d:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in d:\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in d:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from time import sleep

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [ ]:
#We have to download the webdriver for the web browser. steps for download are
1. check the version of the browser
2. Go to the link: https://chromedriver.chromium.org/downloads 
3. download the webdriver for your version of the browser

In [8]:
#connect to the driver
driver=webdriver.Chrome(r"D:\\chromedriver.exe")

In [9]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [17]:
#Entering the designation as Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field as per the question
designation=driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys("Data Analyst")

In [18]:
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div[1]/input")
location.send_keys("Bangalore")

In [19]:
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [20]:
Job_designation=[]
Company_name=[]
Job_location=[]
Skills_required=[]
Experience_required=[]

In [23]:
#scraping the Job_designation data from given page
Job_titles=driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')

for i in Job_titles[0:10]:
    job=i.text
    Job_designation.append(job)

Job_designation

['Senior Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst (DA)/ Team Lead (TL) -Clinical Data management',
 'Call For Clinical Data Analyst - Hyd/Bangalore/Pune/Mumbai/Kolkata',
 'HR Data Analyst',
 'Senior Data Analyst',
 'Sr. SAP Hana Data Analyst',
 'Business Execution (Data and Reporting Analyst)',
 'Data Analyst',
 'Manager / Senior Manager - Data Analyst']

In [24]:
#scraping the company names from given page
Companyname=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for data in Companyname[0:10]:
    data=data.text
    Company_name.append(data)

In [25]:
Company_name

['Latentview',
 'Jar',
 'Cognizant',
 'Cognizant',
 'Hitachi Ltd.',
 'Klub',
 'Anicalls',
 'Wells Fargo',
 'Coresight Research, Inc.',
 'Huquo Consulting Pvt. Ltd']

In [26]:
#scraping the job location from available page

Location=driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in Location[0:10]:
    i=i.text
    Job_location.append(i)

In [27]:
Job_location

['Bangalore/Bengaluru, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mangaluru/Mangalore, Pune, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Ahmedabad, Jaipur, Delhi / NCR']

In [28]:
#scrapng the skills from the page
skills=driver.find_elements(By.XPATH, '//div[@class="job-description fs12 grey-text"]')
for i in skills[0:10]:
    location=i.text
    Skills_required.append(location)

In [29]:
Skills_required

['Strong problem solving, business analysis and quantitative skills5+ Years of hands-on e...',
 '4 years of experience with Python Data Analysis Packages(Pandas, NumPy, Matplotlib, Sci...',
 'Manage programming only changes (Move to DWA for LSH and SD for EDC when SOP and T11 / ...',
 'Hands on experience on at least 2 of the 3 phases of Clinical Data Management (start up...',
 'Education / Experience: Bachelors degree in a quantitative field (e.gExperience working...',
 'A drive to learn and master new technologies and techniquesMinimum 4 year of working ex...',
 'Participate in meetings with users, project managers, and developers to automate, upgra...',
 '6+ year of experience in one or a combination of the following: business analysis, proj...',
 'CORESIGHT RESEARCH: The Coresight Research team, based in New York, London, Hong Kong, ...',
 'BA / BS / BTech minimum educational requirement Proficiency in Excel required Have prio...']

In [30]:
experience=driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for exp in experience[0:10]:
    exp=exp.text
    Experience_required.append(exp)

In [31]:
Experience_required

['3-6 Yrs',
 '0-4 Yrs',
 '3-8 Yrs',
 '6-9 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '6-11 Yrs',
 '4-8 Yrs',
 '2-7 Yrs']

In [ ]:
print(len(Job_designation), len(Company_name), len(Job_location), len(Skills_required), len(Experience_required))

In [32]:
df=pd.DataFrame({"job-title":Job_designation, "job-location":Job_location, "company_name":Company_name, "Experience Required":Experience_required, "Skills":Skills_required})

In [33]:
df

,job-title,job-location,company_name,Experience Required,Skills
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs,"Strong problem solving, business analysis and ..."
1,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs,4 years of experience with Python Data Analysi...
2,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs,Manage programming only changes (Move to DWA f...
3,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs,Hands on experience on at least 2 of the 3 pha...
4,HR Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,3-6 Yrs,Education / Experience: Bachelors degree in a ...
5,Senior Data Analyst,Bangalore/Bengaluru,Klub,2-5 Yrs,A drive to learn and master new technologies a...
6,Sr. SAP Hana Data Analyst,Bangalore/Bengaluru,Anicalls,5-10 Yrs,"Participate in meetings with users, project ma..."
7,Business Execution (Data and Reporting Analyst),Bangalore/Bengaluru,Wells Fargo,6-11 Yrs,6+ year of experience in one or a combination ...
8,Data Analyst,"Bangalore/Bengaluru, Mangaluru/Mangalore, Pune...","Coresight Research, Inc.",4-8 Yrs,CORESIGHT RESEARCH: The Coresight Research tea...
9,Manager / Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs,BA / BS / BTech minimum educational requiremen...

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
#First step is to connect to the driver
driver=webdriver.Chrome(r"D:\\chromedriver.exe")

In [4]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [5]:
#Entering the designation as Data ” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field as per the question
designation=driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys("Data Scientist")

In [38]:
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div[1]/input")
location.send_keys("Bangalore")

In [39]:
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [5]:
job_title=[]
joblocation=[]
company_name=[]

In [8]:
Title_tags=driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in Title_tags[0:10]:
    text=i.text
    job_title.append(text)
    
job_title

['Data Science Specialist',
 'Data Science Manager',
 'Mongodb Database Administrator, Maria DB or Cassandra',
 'Analystics & Modeling Specialist',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist - Computer Vision']

In [9]:
job_location=driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for job in job_location[0:10]:
    i=job.text
    joblocation.append(i)
    
joblocation

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/Gurugram, Delhi / NCR',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Mumbai, New Delhi, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [6]:
Company_name=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in Company_name[0:10]:
    i=i.text
    company_name.append(i)
    
company_name

['Accenture',
 'Accenture',
 'Mphasis',
 'Accenture',
 'CitiusTech',
 'ZS Associates',
 'Tech Mahindra',
 'Boston Consulting Group',
 'IBM',
 'Walmart']

In [10]:
df2=pd.DataFrame({"job-title":job_title, "job-location":joblocation, "company_name":company_name})

In [11]:
df2

,job-title,job-location,company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
5,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates
6,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
8,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
9,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [13]:
from selenium import webdriver

In [89]:
#First step is to connect to the driver
driver=webdriver.Chrome(r"D:\\chromedriver.exe")

In [90]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [91]:
#Entering the designation as Data ” in “Skill, Designations, Companies” field  as per the question
designation=driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys("Data Scientist")

In [92]:
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [93]:
#filtering location and salary keys through id

location=driver.find_element(By.XPATH, '//*[@id="root"]/div[4]/div/section[1]/div[2]/div[5]/div[2]').find_element(By.XPATH, '//*[@id="root"]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]').click()

In [94]:
Salary=driver.find_element(By.XPATH, '//*[@id="root"]/div[4]/div/section[1]/div[2]/div[6]/div[2]').find_element(By.XPATH, '//*[@id="root"]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]').click()

In [95]:
#in order to save the scrape data of job-title, job-location, company name, experience required, create an empty list
job_title=[]

JobTitle=driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for j in JobTitle[0:10]:
    title=j.text
    job_title.append(title)
    
job_title

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist / Chat-bot Developer',
 'Data Scientist - Engine Algorithm',
 'Data Activation Specialist - Adobe Target',
 'Data Specialist',
 'Data Scientist']

In [96]:
job_location=[]
location=driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')

for h in location[0:10]:
    h=h.text
    job_location.append(h)
    
job_location

['Noida, Nagpur, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Noida(Sector-59 Noida)\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Noida',
 'Noida']

In [102]:
company_name=[]
for name in driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')[0:10]:
    company_name.append(name.text)
    
company_name

['GlobalLogic',
 'Boston Consulting Group',
 'IHS Markit',
 'R Systems International',
 'Optum',
 'Big Seo Buzz',
 'Primo Hiring',
 'Okda Solutions',
 'RCPC',
 'NGI Ventures']

In [103]:
experience_required=[]



for i in driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')[0:10]:
    experience_required.append(i.text)
    
experience_required

['8-10 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '7-10 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '7-10 Yrs',
 '4-6 Yrs',
 '0-5 Yrs']

#i have tried a lot to extract only text from the above code but it was not happend to me plz check my code and let me know  where i did the mistake

In [104]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [106]:
df3=pd.DataFrame({"job-title":job_title, "job-location":job_location, "company_name":company_name, "experience_required":experience_required})
df3

,job-title,job-location,company_name,experience_required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs
3,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
7,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
8,Data Specialist,Noida,RCPC,4-6 Yrs
9,Data Scientist,Noida,NGI Ventures,0-5 Yrs

4. Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

In [10]:
#First step is to connect to the driver
driver=webdriver.Chrome(r"D:\\chromedriver.exe")

In [11]:
#load the flipcart page on automated chrome browser
driver.get(" https://www.flipkart.com/")

In [12]:
#erasing the pop-up button
Button=driver.find_element(By.XPATH, '/html/body/div[2]/div/div/button').click()

In [13]:
#Enter “sunglasses” in the search field where “search for products, brands and more” is written  as per the question
input_search=driver.find_element(By.CLASS_NAME, "_3704LK")
input_search.send_keys("sunglasses")

In [14]:
search=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [31]:
#scrape products from flipcart
Brand=[]
start=0
end=3
for j in range(start,end):
    print("scraping page", j+1)
    brand=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(i.text)
    next_page=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_page.click() 
    time.sleep(3)

scraping page 1
scraping page 2
scraping page 3

In [32]:
len(Brand)

120

In [21]:
Brand[:100]

['ROYAL SON',
 'AISLIN',
 'Rich Club',
 'Guru Randhawa',
 'POLAROID',
 'ROYAL SON',
 'ROYAL SON',
 'Billion',
 'CRYSTAL CART',
 'Anemone',
 'ROYAL SON',
 'METRONAUT',
 'Ray-Ban',
 'elegante',
 'HRX by Hrithik Roshan',
 'GANSTA',
 'ROYAL SON',
 'METRONAUT',
 'TheWhoop',
 'Arnette',
 'GANSTA',
 'METRONAUT',
 'GANSTA',
 'NuVew',
 'Rich Club',
 'VINCENT CHASE',
 'GANSTA',
 'METRONAUT',
 'Poloport',
 'AISLIN',
 'Hooper',
 'GANSTA',
 'Klowage',
 'FOSSIL',
 'ROYAL SON',
 'Cruze',
 'POLAROID',
 'METRONAUT',
 'OAKLEY',
 'shah collections',
 'CARRERA',
 'FOSSIL',
 'Singco India',
 'LIZA ANGEL',
 'AISLIN',
 'Rich Club',
 'POLAROID',
 'CARRERA',
 'OAKLEY',
 'Ray-Ban',
 'CARRERA',
 'POLAROID',
 'VINCENT CHASE',
 'Ray-Ban',
 'NuVew',
 'New Specs',
 'CARRERA',
 'CARRERA',
 'Fastrack',
 'PIRASO',
 'FOSSIL',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'IDEE',
 'elegante',
 'JustChhapo',
 'CARRERA',
 'GANSTA',
 'Urbanic',
 'Ray-Ban',
 'CARRERA',
 'POLAROID',
 'Ray-Ban',
 'Ray-Ban',
 'CRYSTAL CART',
 'VINCENT CHASE',
 'FOSSIL',
 'FOSSIL',
 'Ray-Ban',
 'VINCENT CHASE',
 'GANSTA',
 'ROYAL SON',
 'Dannilo',
 'AISLIN',
 'AISLIN',
 'kingsunglasses',
 'GANSTA',
 'GANSTA',
 'Arnette',
 'Fastrack',
 'Billion',
 'AISLIN',
 'ROYAL SON',
 'CRYSTAL CART',
 'Elligator',
 'ROZZETTA CRAFT',
 'Cristiano Ronnie',
 'Billion',
 'Ray-Ban',
 'Rich Club']

In [33]:
Product_Description=[]
for product in range(3):
    product_des=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in product_des:
        Product_Description.append(i.text)
    next_page=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]') #to scrape the data from next pages
    next_page.click()
    time.sleep(3)
Product_Description

['Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Rectangular Sunglasses (55)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (18)',
 'Gradient, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...',
 'UV Protection, Mirrored Sports Sunglasses (62)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (47)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Night Vision, Riding Glasses Rectangular Sunglasses (60...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized, UV Protection Sports Sunglasses (68)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Mirrored Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Riding Glasses Retro Square Sunglasses (...',
 'UV Protection Rectangular Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Wayfarer Sunglasses (57)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...',
 'UV Protection, Mirrored Sports Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (18)',
 'UV Protection Round Sunglasses (47)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (57)',
 'Gradient, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection Sports Sunglasses (68)',
 'UV Protection Aviator Sunglasses (54)',
 'Night Vision, Riding Glasses Rectangular Sunglasses (60...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'Polarized Rectangular Sunglasses (60)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (52)']

In [34]:
len(Product_Description)

120

In [108]:
Price=[]
for price in driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')[:100]:
    price.append(price.text)

# Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.

In [2]:
from selenium import webdriver
from time import sleep

In [73]:
#First step is to connect to the driver
driver=webdriver.Chrome(r"D:\\chromedriver.exe")

In [74]:
#load the flipcart page on automated chrome browser
driver.get(" https://www.flipkart.com/")

In [75]:
#Removing the pop-up button
Button=driver.find_element(By.XPATH, '/html/body/div[2]/div/div/button').click()

In [76]:
#Enter “iphone 11” in the search field where “search for products, brands and more” is written  as per the question
input_search=driver.find_element(By.CLASS_NAME, "_3704LK")
input_search.send_keys("iphone 11")

In [77]:
search=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [78]:
Select_phone=driver.find_element(By.XPATH, '//div[@class="_4rR01T"]').click()

In [80]:
Select_review=driver.find_elements(By.XPATH, '//*[@id="container"]/div/div[3]/div[1]/div[2]/div[10]/div[7]/div/a')

In [165]:
Rating=[]

for j in driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]'):
    Rating.append(j.text)
    
Rating

['5', '5', '5', '4', '5', '5', '5']

In [164]:
Review_summary=[]
summary=driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
for j in summary:
    Review_summary.append(j.text)

Review_summary

['Perfect product!',
 'Terrific',
 'Simply awesome',
 "Don't waste your money",
 'Good quality product',
 'Perfect product!',
 'Fabulous!',
 'Mind-blowing purchase']

In [178]:
Full_review=[]

review=driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
for j in review:
    Full_review.append(j.text)
    
Full_review

["After using 3 years mobile review. Excellent & Awesome Mobile fully I love it mobile don't wait take it perfectly suits everyone very stylish and operating a...\nRead full review",
 'I am using the phone for last 5 years and found no cons as such. The camera quality is bit low as compared to other iphone varient but it can be managable. B...\nRead full review',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Very bad mic within 2 days my phone mic is not working no replacement horrible',
 "impressively Nice......\nOne of the greatest iPhone i ever used ....\nAll was like Never before ...\nit's just Amazing ...\nBattery Life is too good ...2 Days wi...\nRead full review",
 'Nice products thanks flkat',
 'Fast performance to previous iPhone x\nGood camera quality but the best part of night mode #killing\n\nI am already One-plus7\nHuge difference between in night m...\nRead full review',
 'Fantastic and prompt delivery.']

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [120]:
#First step is to connect to the driver
driver=webdriver.Chrome(r"D:\\chromedriver.exe")

In [3]:
#load the flipcart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [4]:
#Removing the pop-up button
Button=driver.find_element(By.XPATH, '/html/body/div[2]/div/div/button').click()

In [5]:
#Enter “sneakers” in the search field where “search for products, brands and more” is written  as per the question
input_search=driver.find_element(By.CLASS_NAME, "_3704LK")
input_search.send_keys("sneakers")

In [6]:
search=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [7]:
Brand=[]
for i in range(3):
    brand=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand:
        i=i.text
        Brand.append(i)
    next_page=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_page.click()
    sleep(3)

In [9]:
Product_Description=[]
for j in range(3):
    product=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in product:
        i=i.text
        Product_Description.append(i)
    next_page=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_page.click()
    sleep(3)

In [11]:
Product_Description

['Go Run Fast - Sneakers For Women',
 'Sneakers For Women',
 'Sneaker Sneakers For Men',
 'Exclusive Affordable Collection of Trendy & Stylish Cas...',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'BEACH BINGO - CLASSY CAT Sneakers For Women',
 'Casual Sneakers White Shoes For Girls And Sneakers For ...',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Modena Sneakers For Women',
 'Sneakers For Men',
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 'CR-1 Sneakers For Men',
 'HRX by Hrithik Roshan Men White Solid Sneakers with Per...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 "Men's White Faux Leather Sneakers For Men",
 'Sneakers For Men',
 "Perfect Stylish Casual Shoes For Girls & Women's Casual...",
 '350 smart grey lace-ups casual for men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 "Men's Fashion Trend Sneakers Sneakers For Men",
 '2 Combo Sneaker Shoes Sneakers For Men',
 'MADRYN 2.O Sneakers For Men',
 'Sneakers For Men',
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sneakers For Men',
 'Breathable, Walking, Running, Casual, Gym Shoes Sneaker...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Athleo ATG-610 Men's Black Maroon Mesh Best Running Gym...",
 'Sneakers For Men',
 'Modern Trendy Shoes Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Latest Collection-1215 Stylish Casual Sports Sneakers F...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'TEDRICK Sneakers For Men',
 'Men White Urban Street Athleisure Shoes Sneakers For Me...',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Casual Sneakers For Men',
 'Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Sneakers For Women',
 'ATG-415 Mesh Lace-Ups Sneakers For Men',
 "Athleo ATG-161 Men's Mesh Best Comfort Running Gym & Sp...",
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 "Athleo ATG-487 Men's Navy Mesh Best Comfort Running Gym...",
 "Athleo ATG-496 Men's Navy Mesh Best Comfort Running Gym...",
 'Sneakers For Men',
 'Latest Collection Black-349 Trendy & Stylish Casual Sne...',
 'Sneakers For Men',
 'Mesh Lace-Up Sneakers For Men',
 'Mesh Lace-Up Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'True Black Shoe Sneakers For Men',
 'JAMMERS-COOL BLOCK Sneakers For Women',
 'Sneakers For Women',
 'Sneaker Sneakers For Men',
 'Exclusive Affordable Collection of Trendy & Stylish Cas...',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Go Run Fast - Sneakers For Women',
 'BEACH BINGO - CLASSY CAT Sneakers For Women',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Modena Sneakers For Women',
 'Sneakers For Men',
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 'CR-1 Sneakers For Men',
 'HRX by Hrithik Roshan Men White Solid Sneakers with Per...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 "Men's White Faux Leather Sneakers For Men",
 'Sneakers For Men',
 "Perfect Stylish Casual Shoes For Girls & Women's Casual...",
 '350 smart grey lace-ups casual for men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 "Men's Fashion Trend Sneakers Sneakers For Men",
 '2 Combo Sneaker Shoes Sneakers For Men',
 'MADRYN 2.O Sneakers For Men',
 'Sneakers For Men',
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sneakers For Men',
 'Breathable, Walking, Running, Casual, Gym Shoes Sneaker...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [ ]:
price=[]
for price in driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')[:100]
    print(price.text)

7. Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image

In [42]:
#First step is to connect to the driver
driver=webdriver.Chrome(r"D:\\chromedriver.exe")

In [16]:
#load the myntra page on automated chrome browser
driver.get("https://www.myntra.com/shoes")

#issue was there with myntra site, inspect option is not working in that site

# 8. Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:

In [17]:
#First step is to connect to the driver
driver=webdriver.Chrome(r"D:\\chromedriver.exe")

In [43]:
#load the amazon page on automated chrome browser
driver.get("https://www.amazon.in/")

In [44]:
#Enter “Laptop” in the search field for title, rating and pricee” is written  as per the question
input_search=driver.find_element(By.XPATH, '//*[@id="twotabsearchtextbox"]')
input_search.send_keys("Laptop")

In [45]:
search=driver.find_element(By.XPATH, '//*[@id="nav-search-bar-form"]/div[3]/div')
search.click()

In [46]:
#selecting "cpu" type as Intel Core i7
CPU_type=driver.find_element(By.XPATH, '//*[@id="p_n_feature_thirteen_browse-bin-title"]/span').find_element(By.XPATH, '//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span').click()

In [60]:
Title=[]
title=driver.find_elements(By.XPATH, '//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title[0:10]:
    Title.append(i.text)

Title

['Samsung Galaxy Book2 360 Intel 12th Gen i7 EvoTM 33.78cm (13.3") AMOLED 2 in 1 Touch Screen Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit KB/Fingerprint Sensor/Graphite/1.16Kg), NP730QED-KA1IN',
 'GIGABYTE AERO 5 KE4 Laptop, 15.6" UHD OLED 60Hz, Intel Core i7-12700H 12th Gen, NVIDIA® RTX 3060 6GB Graphics, Gaming Laptop (16 GB / Windows 11 Home / Gen4 1TB SSD/ Office 365/Black)',
 'ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FHD OLED, Intel EVO Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/1TB SSD/Iris Xe Graphics/Windows 11/Office 2021/Mist/1.14 kg), UX325EA-KG701WS',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021, 14-eh0024TU',
 'Samsung Galaxy Book2 360 Intel 12th Gen i7 EvoTM 33.78cm (13.3") AMOLED 2 in 1 Touch Screen Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit KB/Fingerprint Sensor/Graphite/1.16Kg), NP730QED-KA1IN',
 'Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 14 inches FHD IPS 2-in-1 Touchscreen Business Laptop (16GB/512GB SSD/Windows 10/MS Office/Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN']

In [71]:
Ratings=[]

for ratings in driver.find_elements(By.XPATH, '//span[@class="a-size-base s-underline-text"]')[0:10]:
    Ratings.append(ratings.text)
   

Ratings

['29', '8', '61', '4', '13', '62', '39', '29', '89', '19']

In [72]:
len(Ratings)

10

In [82]:

for price in driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')[0:10]:
    i=print(price.text)

96,999
1,56,990
74,990
64,990
80,990
79,990
77,990
86,990
96,999
1,11,000

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image

In [199]:
#First step is to connect to the driver
driver=webdriver.Chrome(r"D:\\chromedriver.exe")

In [200]:
#load the ambitionbox page on automated chrome browser
driver.get("https://www.ambitionbox.com/")

In [201]:
#click on job option as per question
Job=driver.find_element(By.XPATH, '//*[@id="ambitionbox-header"]/nav/ul/li[5]/a').click()

In [202]:
#selecting job and then passing the keys
Designation=driver.find_element(By.XPATH, '//input[@class="input tt-input"]')
Designation.send_keys("Data Scientist")

In [213]:
#click on search option
search=driver.find_element(By.CLASS_NAME, "ctas-btn-medium").click()

In [217]:
#selecting the location path
location=driver.find_element(By.XPATH, '//p[@class="body-medium text-capitalize undefined"]').find_element(By.XPATH, '//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
location.send_keys("Noida")

In [218]:
#selecting noida from drop down
Noida=driver.find_element(By.XPATH, '//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [220]:
#Clear the pop-up to find the list of jobs
Pop_up=driver.find_element(By.XPATH, '//*[@id="jobsList"]/div[2]/div[2]/div/div[1]/div[3]/div[2]/p[2]').click()

In [221]:
#choose any one from the three options to proceed further, enter email-id and password
gmail=driver.find_element(By.XPATH, '//*[@id="loginModal"]/div/div/div[2]/div[2]/p').click()

In [244]:
#fill email and password then Scrape the data of each job
Job_title=[]
Company_name=[]
Experience=[]
Loation=[]
Skills=[]

In [246]:
job_title=driver.find_elements(By.XPATH, '//a[@class="title noclick"]')
for i in Job_title:
    i=i.text
    Job_title.append(i)

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [2]:
#First step is to connect to the driver
driver=webdriver.Chrome(r"D:\\chromedriver.exe")

In [3]:
#load the ambitionbox page on automated chrome browser
driver.get("https://www.ambitionbox.com/")

In [7]:
#go to the salary page in that select data scientist
salary=driver.find_element(By.XPATH, '//*[@id="ambitionbox-header"]/nav/ul/li[3]').click()

In [8]:
folder=driver.find_element(By.XPATH, '/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]')

In [9]:
Job_Title=driver.find_element(By.XPATH, '//input[@class="tt-input"]')
Job_Title.send_keys("Data Scientist")

In [17]:
icon=driver.find_element(By.XPATH, '//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')

In [29]:
Company_Name=[]

company_name=driver.find_elements(By.XPATH, '//a[@data-v-3f777f56]')
for v in company_name: 
    v=v.text.split()[0]
    Company_Name.append(v)
Company_Name

['Walmart',
 'Ab',
 'Optum',
 'ZS',
 'Fractal',
 'Sigmoid',
 'Tiger',
 'Legato',
 'HSBC',
 'Tredence']

In [42]:
Min_salary=[]
salary=driver.find_elements(By.CLASS_NAME, "salary-values")
for sal in salary:
    sal=sal.text.split()[1]
    Min_salary.append(sal)
Min_salary

['25.0L',
 '15.0L',
 '11.0L',
 '11.0L',
 '9.0L',
 '12.7L',
 '9.0L',
 '11.0L',
 '12.0L',
 '8.8L']

In [43]:
Max_salary=[]
salary=driver.find_elements(By.CLASS_NAME, "salary-values")
for sal in salary:
    sal=sal.text.split()[-1]
    Max_salary.append(sal)
Max_salary

['45.0L',
 '26.0L',
 '22.6L',
 '22.0L',
 '23.0L',
 '19.7L',
 '20.0L',
 '20.0L',
 '18.0L',
 '17.5L']

In [46]:
Average_salary=[]
salary=driver.find_elements(By.CLASS_NAME, "averageCtc")
for sal in salary:
    sal=sal.text.split()[1]
    Average_salary.append(sal)
Average_salary

['32.2L',
 '19.8L',
 '16.4L',
 '15.9L',
 '15.5L',
 '14.7L',
 '14.6L',
 '14.5L',
 '14.0L',
 '13.9L']

In [68]:
experience_required=[]
experience=driver.find_elements(By.CLASS_NAME, "sbold-list-header")
for i in experience[0:10]:
    exp=i.text.split( "(")[0]
    experience_required.append(exp)
    
experience_required

['3-4 yrs experience ',
 '2-4 yrs experience ',
 '2-4 yrs experience ',
 '1-2 yrs experience ',
 '2-4 yrs experience ',
 '1 yr experience ',
 '2-4 yrs experience ',
 '4 yrs experience ',
 '4 yrs experience ',
 '3 yrs experience ']

In [69]:
import pandas as pd

In [70]:
df10=pd.DataFrame({"company name":Company_Name, "Average salary": Average_salary, "Minimum Salary":Min_salary, "Maximum salary":Max_salary, "Experience Required":experience_required})

In [72]:
df10

,company name,Average salary,Minimum Salary,Maximum salary,Experience Required
0,Walmart,32.2L,25.0L,45.0L,3-4 yrs experience
1,Ab,19.8L,15.0L,26.0L,2-4 yrs experience
2,Optum,16.4L,11.0L,22.6L,2-4 yrs experience
3,ZS,15.9L,11.0L,22.0L,1-2 yrs experience
4,Fractal,15.5L,9.0L,23.0L,2-4 yrs experience
5,Sigmoid,14.7L,12.7L,19.7L,1 yr experience
6,Tiger,14.6L,9.0L,20.0L,2-4 yrs experience
7,Legato,14.5L,11.0L,20.0L,4 yrs experience
8,HSBC,14.0L,12.0L,18.0L,4 yrs experience
9,Tredence,13.9L,8.8L,17.5L,3 yrs experience